{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $custom_fonts := "" -}}
{{- if hasKey . "custom_fonts" -}}
{{-   $custom_fonts = .custom_fonts -}}
{{- else -}}
{{-   $custom_fonts = promptBool "use custom_fonts" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    custom_fonts = {{ $custom_fonts }}
[merge]
    command = "meld"

