[user]
	name = Yannick Jeandroz
	email = {{ .email }}
[pull]
	rebase = true
[diff]
	colorMoved = zebra
[alias]
	co = checkout
	st = status

# https://github.com/gitster/git/commit/9b25a0b52e09400719366f0a33d0d0da98bbf7b0
[include]
    path = .gitconfig-extras