{
    "workbench.colorTheme": "Default Dark+",
    "editor.fontFamily": "Fira Code",
    "editor.fontLigatures": true,
    {{ if .custom_fonts }}"terminal.integrated.fontFamily": "MesloLGS NF",{{ end }}
    "git.autofetch": true,
    "git.confirmSync": false,
    "editor.formatOnSave": true,
    "terminal.integrated.cwd": "${workspaceFolder}",
    "terminal.integrated.defaultProfile.{{ .chezmoi.os }}": "tmux",
    "terminal.integrated.profiles.{{ .chezmoi.os }}": {
        "tmux": {
            "path": "tmux",
            "icon": "terminal-tmux",
            "args": ["new-session", "-A", "-s", "vscode"]
        }
    },
}