{
{{/* behavior stuff */}}
    "editor.formatOnSave": true,

{{/* cosmetics stuff */}}
    "workbench.colorTheme": "Tomorrow Night Blue",
    {{ if .custom_fonts }}
        "editor.fontFamily": "Fira Code",
        "editor.fontLigatures": true,
        "terminal.integrated.fontFamily": "MesloLGS NF",
    {{ end }}

{{/* git-related stuff */}}
    "git.autofetch": true,
    "git.allowForcePush": true,
    "git.confirmSync": false,

{{/* terminal-related stuff */}}
    "terminal.integrated.cwd": "${workspaceFolder}",
    "terminal.integrated.defaultProfile.{{ .chezmoi.os }}": "tmux",
    "terminal.integrated.profiles.{{ .chezmoi.os }}": {
        "tmux": {
            "path": "tmux",
            "icon": "terminal-tmux",
            "args": ["new-session", "-A", "-s", "📘 vscode"]
        }
    },

{{/* python-related stuff */}}
    "python.formatting.provider": "black",
    "jupyter.askForKernelRestart": false,
    "python.linting.mypyEnabled": true,

{{/* various stuff */}}
     "indentRainbow.excludedLanguages": [
         "yaml"
     ]

{{/* machine-specific extra stuff */}}
{{ $vscode_settings_extras := (joinPath .chezmoi.homeDir ".config" "chezmoi" "vscode_settings_extras.json") }}
{{ if stat $vscode_settings_extras }}
   {{ include $vscode_settings_extras }}
{{ end }}

}